<h1>Minhas citações</h1>

<table>
  <thead>
    <tr>
      <th>Trecho</th>
      <th>Pagina inicial</th>
      <th>Palavras chave</th>
      <th>Livro</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @citacaos.each do |citacao| %>
      <tr>
        <td><%= citacao.trecho %></td>
        <td><%= citacao.pagina_inicial %></td>
        <td><%= citacao.palavras_chave %></td>
        <td>
          <%= link_to citacao.livro.titulo, citacao.livro %>
        </td>
        <td><%= link_to 'Ver', citacao %></td>
        <td><%= link_to 'Editar', edit_citacao_path(citacao) %></td>
        <td><%= link_to 'Remover', citacao, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Citacao', new_citacao_path %>
